[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fish/plugins/z-fish"]
	path = fish/plugins/z-fish
	url = https://github.com/sjl/z-fish.git
