# vi keybind
set editing-mode vi
set keymap vi-insert

#  expand tilda via Tab
set expand-tilde on

# Japanese setting
set input-meta on
set convert-meta off
set output-meta on

# Ignore letter size when completing via Tab
set completion-ignore-case on

# Auto scroll
set horizontal-scroll-mode on

# Histrory viewing keymap
"\C-p": history-search-backward
"\C-n": history-search-forward
